
.cards-container{
    display: flex;
    gap: 10px;
}


.image {
   width: 10rem;
   height: 10rem;
}

@media (max-width: 600px) {
    .cards-container {
        flex-direction: column; 
        gap: 5px;
    };
}

